<h1>
  {{auto.marca}}
</h1>

<form [formGroup]="formAuto" novalidate>
  <div class="form-group">
    <label class="center-block">Marca:
      <input class="form-control" formControlName="marca">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Modelo:
      <input class="form-control" formControlName="modelo">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Año:
      <input class="form-control" formControlName="anio">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Version:
      <input class="form-control" formControlName="version">
    </label>
  </div>
</form>